@import '~bootstrap/scss/bootstrap';

h1 {
  text-align: center;
}

.container {
  height: 100vh;
}

.board {
  //keeps left and right margins equal, centering the element
  margin: auto;
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.box {
  // Add our grid lines
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15vh;
  min-height: calc(100%/3);
  background-color: white;
  color: #007A33;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
  user-select: none;
  // Select every third box (the right boxes)
  // & refers to the selector we are in `.box`
  &:nth-child(3n) {
    border-right: 0;
  }
  // Select the last three boxes (the bottom boxes)
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }

  &:hover {
    background-color: gold;
  }
}
